@using System.Security.Claims
@using bacit_dotnet.MVC.Entities
@using bacit_dotnet.MVC.Models.Suggestion;
@model SuggestionViewModel;
@{
    ViewBag.Title = "Propositio | Alle Forslag";
}
<br />
<h1>Alle Forslag</h1>
<br />
    @Html.Partial("_FilterSortControl", new SortOrderModel{actionName = "Index", 
    controllername = "Suggestion", categories = Model.categories})


@if (!String.IsNullOrEmpty(ViewBag.SortedMessage))
{
    @ViewBag.SortedMessage
}

@foreach (SuggestionEntity sugg in Model.suggestions)
{
    @Html.Partial("_Suggestion", sugg)
}

<script type="text/javascript">
    function Fav(id) {

        var url = '@Url.Action("Favorite", "Suggestion")';
        var element = document.getElementById(id);
        var fav = "https://localhost:4000/img/bootstrap-icons-1.9.1/bookmark-star-fill.svg"
        var unfav = "https://localhost:4000/img/bootstrap-icons-1.9.1/bookmark-star.svg"
        var src = element.src;


        $.ajax({
            url: url,
            type: 'POST',
            data: {
                id: id
            },
            success: function (data) {
                if (data.length == 0) {
                    // No errors
                    // alert(src);
                    console.log(src);
                    if (src == unfav) {
                        element.src = fav;
                        //alert("Favoritt!");
                    } else {
                        element.src = unfav;
                        //alert("Ufavoritt!");
                    }

                }
            }
        });
    };
</script>