@using bacit_dotnet.MVC.Entities;
@using bacit_dotnet.MVC.DataAccess
@using bacit_dotnet.MVC.Models.Statistics;
@using System.Security.Claims
@using System.Web.Helpers;
@using System.Web;
@using System.Data;
@using System.Collections.Generic;
@using WebMatrix.Data;
@model StatisticsViewModel;

<head></head>
<body>
    <h3>Oversikt over antall forslag per team</h3>
    <div class="box-body" style="margin-left: auto">
        <div class="chart-container p-3" style="display: flex; flex-wrap:no wrap">
            <div class="text p-3">
                @foreach (TeamEntity tea in Model.teams)
                {
                    <div style="width: 120px; height: 50px; lineheight:50px">@(tea.team_name)</div>
                }
            </div>
            <div class="numbers" style="border-left: 2px solid black">
                @foreach(int num in Model.ListNumberOfSuggestionPerTeam){
                    <div style="width:calc(200%*@num); height: 30px; background-color: pink; line-height:30px; margin-top:20px; text-align: center; ">@num</div>
                }

            </div>
        </div>
    </div>
    <!--<table>
        <tr>
            <td>Team</td>
            <td>Antall forslag</td>
        </tr>
        @{/*
            List<TeamEntity> teamList = new List<TeamEntity>();
            foreach(TeamEntity t in Model.teams){
                teamList.Add(t);
            }
            List<int> numbers = new List<int>();
            foreach (int n in Model.ListNumberOfSuggestionPerTeam)
                {
            numbers.Add(n);
            }
            var zip = Model.teams.Zip(Model.ListNumberOfSuggestionPerTeam, (i, j) => (i, j));
           
            foreach((TeamEntity item1, int item2) in zip){
                    <tr>
                    <td>@(item1.team_name)</td>
                    <td>@(item2)</td>
            </tr>
            }
        */
         }
    </table>-->
</body>

</script>
