html {
  font-size: 14px;
}

@media (min-width: 768px)/*minimum width on webpage*/ {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.sugg-container{
   
}
.col-2{
    height: 30px;
}
/*Design for suggestions*/
.suggtitle{
    font-weight: bold;/*thick writing*/
}
.suggdiv{
    display: inline-block;
}
.sugg-info {
    background-color: dimgrey;
    color: #FFF;
    font-weight: bold;
    line-height: 30px;
}
/*Make circle for status*/
.PLAN, .DO, .STUDY, .ACT, .JUSTDOIT {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 5px;
}
.PLAN {
    background-color: #A020F0; /*color for circle*/
}
.DO {
    background-color: #AFEC2E; /*color for circle*/
}
.STUDY {
    background-color: #F9E076; /*color for circle*/
}
.ACT {
    background-color: #2E2EFF; /*color for circle*/
}
.JUSTDOIT{
    background-color: #E30B5C;
}
.date{
    margin: 0;
    font-size: 12px;
    line-height: 20px;
}
.due{
    color: darkred;
}
.made {
    color: dimgrey;
}
.red{
    color: red;
}
.username{
    font-weight: bold;

}
.categories{
    color: dimgray;
    line-height: 30px
}

/*Design for Suggestion Details*/
.detailsdiv{
    display:inline-block
}
.deteails-info {
    background-color: dimgrey;
    color: #FFF;
    font-weight: bold;
    line-height: 15px;
}

/*Comment*/
.link-muted {
    color: #808080
}
    .link-muted:hover {
        color: #1266f1;
    }    
/*Show one suggestion*/
.buttonDetails {
    text-decoration: none;
    width: 110px;
    background-color: darkblue;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.buttonDetails:hover {
    background-color: black;
    color: white;
}


/**Bilder**/
.userimg{
    width: 200px;
    height: 200px;
}