html {
    font-size: 14px;
}

@media (min-width: 768px) /*minimum width on webpage*/ {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.sugg-container {
}

.col-2 {
    height: 30px;
}
/*Design for suggestions*/

.title {
    text-align: center;
}

.suggtitle {
    font-weight: bold; /*thick writing*/

}

.suggdiv {
    display: inline-block;
}

.sugg-info {
    background-color: #a9a9a9;
    color: #FFF;
    font-weight: bold;
    line-height: 30px;
}
/*Make circle for status*/
.PLAN, .DO, .STUDY, .ACT, .JUSTDOIT, .FINISHED {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 5px;
}

.PLAN, ._PLAN {
    background-color: #29B3FF; /*blue*/
}

.DO, ._DO {
    background-color: #00C4B0; /*blue-green*/
}

.STUDY, ._STUDY {
    background-color: #F9D876; /*freesia-yellow*/
}

.ACT, ._ACT {
    background-color: #FF8370; /*orange-coral*/
}

.JUSTDOIT, ._JUSTDOIT {
    background-color: #B175FF; /*Purple*/
}

.FINISHED, ._FINISHED {
    background-color: darkred;
}

.BIG {
    width: 40px;
    height: 40px;
    margin-left: 40px;
}

.status-col {
    display: inline-block;
}

.date {
    margin: 0;
    font-size: 12px;
    line-height: 20px;
}

.due {
    color: darkred;
}

.made {
    color: dimgrey;
}

.red {
    color: red;
}

.username {
    font-weight: bold;
}

.categories {
    color: dimgray;
    line-height: 30px
}

/*Design for Suggestion Details*/
.detailsdiv {
    display: inline-block
}

.deteails-info {
    background-color: dimgrey;
    color: #FFF;
    font-weight: bold;
    line-height: 15px;
}

#circle-container {
    width: 80px;
    height: 80px;
    position: relative;
}
.quarter {
    width: 40px;
    height: 40px
}
/*ACT*/
.top-left {
    border-top-left-radius: 200px;
    background: #FF8370;
    float: left
}

/*PLAN*/
.top-right {
    border-top-right-radius: 200px;
    background: #29B3FF;
    float: right
}
/*STUDY*/
.bottom-left {
    border-bottom-left-radius: 200px;
    background: #F9D876;
    float: left
}
/*DO*/
.bottom-right {
    border-bottom-right-radius: 200px;
    background: #00C4B0;
    float: right;
}

.fill-circle {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 5;
    background-color: #fff;
    border-radius: 190px;
    margin: 10px 15px 15px 10px;
    margin-top: -70px;
    background-image: url('https://darko.co.za/circle-fill.png');
    background-repeat: no-repeat;
}
.fill-circle>p{
    margin-top: 15px;
}

.hiddenCircle{
    background: #fff;
}
/*FINISHED*/
.finished {
    background: #BE0C3D; /*rose-red*/
}
/*JUST-DO-IT*/
.jdi {
    background: #B175FF;
}
.category {
    margin: 5px;
    background: #5bc0de;
    color: #fff;
    border-radius: 5px;
    width: 75px;
    height: 20px;
}
.category > p{
}
.smallbutton:hover{
    cursor:pointer;
}
.link-muted {
    color: #808080
}

    .link-muted:hover {
        color: #1266f1;
    }
/*Vis mer knappen*/
.moreDetailsBtn {
    text-decoration: none;
    width: 75px;
    background-color: #1266f1;
    color: white;
    border-radius: 5px;
    text-align:center;
    padding: 3px;
}

    .moreDetailsBtn:hover {
        background-color: #1863D6;
        color: white;
    }    
/*Show one suggestion*/
/*.buttonDetails {
    text-decoration: none;
    width: 110px;
    height: 40px;
    background-color: darkblue;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

    .buttonDetails:hover {
        background-color: black;
        color: white;
        border-radius: 5px;
        padding: 5px;
    }*/

/**Bilder**/
.userimg {
    width: 200px;
    height: 200px;
}

/*Ny Bruker og Nytt Team knapper*/
.createbtn {
    width: 60px;
    height: 30px;
    font-size: 15px;
    text-decoration: none;
    background-color: #1863D6;
    border-radius: 5px;
    color: white;
    padding: 7px;    
}

    .createbtn:hover {
        background-color: #053bb1;
        color: whitesmoke;
    }
/*Forslag*/
.card-header {
    background-color: #ECECEB;
    color: black;
}

.card-footer {
    font-size: 14px;
    color: #988686;
}

.temp{
    color:#fff;
}
.box-body {
    margin: auto;
    width: 90%;
    padding: 10px;
}
