@using bacit_dotnet.MVC.Entities;
@using bacit_dotnet.MVC.Models;
@model bacit_dotnet.MVC.Models.CommentViewModel

<h1>Kommentar</h1>
@foreach (CommentEntity comment in Model.comments)
{
    <h1>@comment.emp_id</h1>
    <h1>@comment.suggestion_id</h1>
    <h1>@comment.description</h1>    
   /* <h1>@comment.timeStamp</h1> */

}
