<html>
@using bacit_dotnet.MVC.Models
@using bacit_dotnet.MVC.Entities
@model ChangePasswordModel
@{
    Layout = "";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Propositio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bacit_dotnet.MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="row h-25">
                <div class="col-sm-12 my-auto">
                </div>
            </div>
            <div class="row">     
                <div class="col-sm-4"></div>
                <div class="col-sm-4 text-center ">                    
                    <h3 class="fw-bold mt-3">Endre Passord</h3>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <form asp-controller="account" asp-action="verify" method="post">
                        <!--Ansattnr-->
                        <div class="form-group">
                            <label for="emp_id">Ansattnummer</label>
                            <input name="emp_id" type="text" class="form-control" id="emp_id" placeholder="Skriv inn ditt ansattnummer">
                        </div><br/>
                        <!--Nytt Passord-->
                        <div class="form-group">
                            <label for="newpassword">Nytt Passord</label>
                            <input name="newpassword" type="password" class="form-control" id="newpassword" placeholder="Skriv inn nytt passord">
                        </div><br/>
                        <!--Bekreft Passord-->
                        <div class="form-group">
                            <label for="confirmpassword">Bekreft Passord</label>
                            <input name="confirmpassword" type="password" class="form-control" id="confirmpassword" placeholder="Bekreft passord">
                        </div><br/>       
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="text-center mt-1">
                                    <button type="submit" class="btn btn-outline-success px-4">Avbryt</button>
                                    &nbsp;&nbsp;
                                    <button type="submit" class="btn btn-outline-success px-4">Lagre</button>
                                </div>
                            </div>
                        </div>
                     </form>                    
                </div>             
            </div>
        </main>
    </div>
</body>
</html>
