<html>
@using bacit_dotnet.MVC.Models
@using bacit_dotnet.MVC.Entities
@model ChangePasswordModel
@{
    Layout = "";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Propositio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bacit_dotnet.MVC.styles.css" asp-append-version="true" />
    <style>
        body {
            margin-left: 20%;
        }
    </style>
</head>
<body>
    <img src="" alt="bilde" />
    <h1>Endre Passord</h1>

    <form asp-controller="Account" asp-action="Verify">
        <!--EmployeeId-->
        <div class="form-group">
            <label for="employeeId">Ansattnummer</label>
            <input name="ansattnummer" type="text" class="form-control" id="ansattnummer" placeholder="Ansattnummer">
        </div><br />
        <!--New Password-->
        <div class="form-group">
            <label for="password">Nytt Passord</label>
            <input name="nyttpassword" type="password" class="form-control" id="nyttpassword" placeholder="Skriv inn nytt passord">
        </div><br />
          <!--Confirm Password-->
        <div class="form-group">
            <label for="confirmpassword">Bekreft Passord</label>
            <input name="confirmpassword" type="password" class="form-control" id="confirmpassword" placeholder="Bekreft Passord">
        </div><br />
        <!--Buttons-->
        <button type="submit" class="btn btn-primary">Avbryt</button>
        <button type="submit" class="btn btn-primary">Bekreft</button>
    </form>
</body>
</html>
