<html>
@using bacit_dotnet.MVC.Models
@using bacit_dotnet.MVC.Entities
@model AccountViewModel
@{
    Layout = "";
    ViewBag.Title = "Propositio | Logg Inn";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bacit_dotnet.MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="row h-25">
                <div class="col-sm-12 my-auto">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 text-center">
                    <img src="/img/logo.jpeg" alt="bilde" style="width: 185px" />
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-4">
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <span class="red">@ViewBag.ErrorMessage</span>
                    }
                    <div class="col-sm-4"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <form asp-controller="account" asp-action="verify" method="post">
                            <!--Navn-->
                            <div class="form-group">
                                <label for="emp_id">Ansattnr</label>
                                <input name="emp_id" type="text" class="form-control" id="emp_id" placeholder="Ansattnr" value="@Model.emp_id" />

                            </div><br />
                            <!--Passord-->
                            <div class="form-group">
                                <label for="password">Passord</label>
                                <input name="password" type="password" class="form-control" id="password" placeholder="Passord" value="@Model.password">
                            </div><br />
                            <!--Knapper-->
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-success px-4">Logg inn</button>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-link" asp-controller="account" asp-action="changepassword">Glemt passord</button>
                            </div>
                        </form>
                        <form asp-controller="account" asp-action="verify" method="post">
                            <input name="emp_id" value="1" hidden />
                            <input name="password" value="password" hidden />
                            <button type="submit">BrukerLogin Cheat</button>
                        </form>
                        <form asp-controller="account" asp-action="verify" method="post">

                            <input name="emp_id" value="2" hidden="true" />
                            <input name="password" value="password1" hidden />
                            <button type="submit">Admin Cheat</button>
                        </form>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
    </div>
</body>
