@using bacit_dotnet.MVC.Entities
@using bacit_dotnet.MVC.Models;
@model bacit_dotnet.MVC.Models.CategoryViewModel

<h1>Heisann her er test for å være litt kul</h1>

@foreach(CategoryEntity category in Model.categories)
            {
                <h1>@category.category_id</h1>
                <h2>@category.category_name</h2>
                
            }