<html>
@using bacit_dotnet.MVC.Models
@using bacit_dotnet.MVC.Entities
@model bacit_dotnet.MVC.Models.AdminViewModels.TeamMemberModel
@{
    ViewBag.Title = "Admin | Legg til medlemmer";
}
<body>
    <div class="container">
        <h3 class="header text-center"><b>Legg til medlemmer</b></h3>
        <div class="table-responsive">
            <table class="table">
            <thead>
                <tr>
                    <th scope="col">Ansattnr</th>
                    <th scope="col">Navn</th>
                    <th scope="col">Team</th>
                    <th scope="col">Rolle</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (EmployeeEntity employee in Model.employees)
                {
                    <tr>
                        <th scope="row">@employee.emp_id</th>
                        <td>@employee.name</td>
                        <td>
                            @foreach (TeamEntity team in employee.teams)
                            {
                                @(team.team_name += " ")
                            }
                        </td>
                        <td>@employee.role.role_name</td>
                        <td><input type="checkbox" /></td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
        
        <form asp-controller="Admin" asp-action="CreateNewTeam" method="post">
            <div class="row">
                <div class="col-xs-12 mb-5">
                    <div class="text-center mt-5">

                        <button type="submit" class="btn btn-outline-danger px-4">Avbryt</button>

                        &nbsp;&nbsp;
                        <button type="submit" class="btn btn-outline-success px-4">Lagre</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
                   
</body>
</html>
