<html>
@using bacit_dotnet.MVC.Models
@using bacit_dotnet.MVC.Entities
@using bacit_dotnet.MVC.Models.AdminViewModels
@model AdminNewTeamModel
@{
    ViewBag.Title = "Admin | Nytt Team";
}
<body>    
    <div class="containter newteam-container mt-5">       
       <div class="row">
           <div class="col"></div>
           <div class="col text-center">
               <h3>Nytt Team</h3>
           </div>
            <div class="col"></div>
       </div>
       <div class="row mt-3">
           <div class="col-sm-4"></div>
           <div class="col-sm-4">
               <div class="form-group">
                    <input name="team_navn" type="text" class="form-control" id="team_navn" placeholder="Teamnavn">
               </div><br/>
                
               <div class="form-group text-center">
                    <a class="btn-link" asp-controller="Admin" asp-action="AddTeamMember">Legg til memlemmer</a>
               </div>
               
           </div>
       </div>
        <form asp-action="CreateNewTeam" asp-controller="Admin" method="post">
            
            <div class="row text-center mt-4">
                <div class="col"><b>Ansattnummer</b></div>
                <div class="col"><b>Navn</b></div>
                <div class="col"><b>Team</b></div>
                <div class="col"><b>Rolle</b></div>
            </div><hr/>       
        <div class="row text-center mt-3">
                
            </div>
       
        <div class="row">
            <div class="col-xs-12 mt-5">
                <div class="text-center mt-xxl-5">
                    <button type="submit" class="btn btn-outline-danger px-4">Avbryt</button>
                    &nbsp;&nbsp;
                    <button type="submit" class="btn btn-outline-success px-4">Lagre</button>
                </div>
            </div>
        </div>
        </form>        
    </div>
</body>
</html>
